*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background-image: url(image/bachgr.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-bottom: 0%; */

}

.logo_name{
    color: rgba(5, 4, 4, 0.63);
    font-size: 19px;
    font-family: Arial;
    /* float: left;  */
    margin-left: 5%;
    position: relative;
    right: 18%;
    top: 3px;
    
}
.menu ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 13%;
    width: 100%;
    position: fixed; 
    background-color: beige;
}

ul li{
    
    list-style: none;
    font-size: 14px; 
    

}

.headBar{
    height: 40px;
    width: 1232px;
}
.menu{

    width: 80%;
    float: left;
    height: 40px;
    background-color: F9EED9;
    justify-content: left;
    cursor: pointer;
    transition: 0.8s;
}
.whilehovering li a{
    color: rgb(8, 5, 5);
    text-decoration: none;
}
.whilehovering :hover{
    color: blue;
}
.search{
    height: 36vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;                                          /*space between the all childes*/
    position: relative;
    right: 0px;
}
.search .input_search{
    width: 40%;
    height: 10%;
    border: 20px;
    padding: 10px;
    background-color: rgba(245, 247, 248, 0.708);
}
.search .input_button{
    width: 16%;
    height: 16%;
    margin-left: 2%;
}
.search .input_button .btn{
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.395);

}


.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: rgb(3, 2, 2);
    font-weight: bolder;
}
.cadre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

.service_cards1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid;
    border-color: transparent;
    border-radius: 20px;
    margin: 20px;   
    opacity: 0.9;
}
.example{
    height: 200px;
    width: 149px;
    background-color: rgb(30, 39, 159);
    position: absolute;
    left: 80px;
}
.hous1_image{
    height: 20%;
    position: absolute;
    right: 80ex;
    top: 60px;
}
footer {
    justify-content: center;
    padding-top:90px;
    background-color: rgb(250, 251, 252);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
footer .feedback{
    
}

.service_card{
    background:#a2aab3fb ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid;
    border-color: transparent;
    border-radius: 20px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:40px;
    opacity: 0.9;
    border: 1px solid black;
    height: 150px;
    width: 190px;
    justify-content: center;
}

.menu :hover{
    background-color: beige;
}
.picture{

    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
.second-pic{
    text-align: right;
    margin-left: auto;
    width: fit-content;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    
}
.pic1{
    width:518px;
    margin-left: 26px;
}
.con-pic{
display: flex;
justify-content: space-around;
}
.second-pic #second-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-pic{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} 
.about-pic #about-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-pic .about-img {
    width: 50%;
    margin-top: 50px;
}
.about-pic .about-img img {
    width: 100%;
}


                        /* contact */
#contact{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#contact .icon img{
    width: 70%;
    height: 70%;
    border: 1px solid;
    border-radius: 0;
    border-color: transparent;
    display: block;
    margin: auto;
}
#contact .fields{
    grid-column: 1;
    margin-left: 20px;
}
#contact .icon{
    grid-column: 2;
}
#contact .fields #par{
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
#contact .fields .form {
    margin-bottom: 25px;
}
#contact .fields .form label{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

#contact .fields .form input{
    width: 70%;
    height: 30px;
    border-color: #111D2C;
    border-radius:8px;
    border-width: 2px;
}

#contact .fields .form textarea{
    width: 70%;
    border-color: #111D2C;
    border-radius:8px;
    border-width: 2px;
}
#contact .fields .form button{
    cursor: pointer;
    background-color: #111D2C;
    border:solid 0.5px #111D2C;
    border-radius:8px;
    color:white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
}
#contact .fields .form button:hover{
    cursor: pointer;
    background-color:#3883BC ;
}
div.contact-title{
    padding-right: 0%;
}
section .order-menu{
    display: flex;
    padding-top: 20%;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

select{
    background-color: beige;
font-size: 23px;
height: 30px;
margin-top: 25px;
margin-left: 52px;
margin-right: auto;

}

/* order list */
.wrapper{
    max-width: 700px;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .wrapper div{
    width:200px;
    height: 300px;
    border: 1px solid #f0f0f0;
    padding:5px;
    margin: 5px;
  }
  
  .wrapper > div > img {
    width: 100%;
  }
  .wrapper .pics3{
    display: flex;
    flex-direction: row;
  }
  .wrapper button{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* order list */
  .order ul .order-listt{
    border: 1px solid #0a0505;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-menu .order{
    width: 490px;
    height: 650px;
    border: 3px solid;
    overflow: scroll;
  }
  .order ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
  }

  .order ul li{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
  }
  .res{
    width:100% ;
    display: flex;
    margin-top: 10%;
    justify-content: center;
  }
  .res1{
    width:100% ;
    display: flex;
    margin-top: 10%;
    justify-content: center;
  }
  .logo_name{
    transform: translateX(-3%);
    margin-top: 14px;
  }

  .mobil-button {
    display: none;
  }


@media screen and (max-width:500px) {
    body{
        background-image: url(image/bachgr.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 210px;
    }
    .mobil-button {
        position: absolute;
        right: 0%;
        z-index: 3;
        display: block;
        padding: 10px;
        background: blue;
        cursor: pointer;
      }

    .menu ul {
        position: absolute;
        flex-direction: column;
        gap: 10px;
        z-index: 2;
        top: 0%;
        padding-bottom: 20px;
        transition: all 400ms linear;

    }
    .menu .hide-menu {
        top:-100%;
    }

    .menu .logo-menu {
        display: flex;

    }
    .menu .logo-menu h2 {
        margin-left: 30px;
    }


    .second-pic{
        display: flex;
        flex-direction: column;
    }

.res{
    width:100% ;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;

    
}
.res1{
    width:100% ;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

    
}
.test{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.second-pic{
    width: 60%; 
    margin: 0%;
}
.picture{
    width: 100%;
}
.pic1{

    width: 150%;
    margin-left: 25%;
}
.pic2{
    width: 120%;
    margin-left: 23%;

}
#titlee{

    padding-bottom: 16%;
}
#h1f{
    text-align: center;
    padding-right: 40px;
}
#second-title{
    text-align: center;
    padding-left: 150px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.feedback{
    margin-bottom:50px ;
    text-align: center;
    
}
.search{
    margin-top: -10px;
}

}
