*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body {
    background-image: url(image/bachgr.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0%; 
}
 
.mynav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}
.myimg{
    width:50Px;
    height:50px;

}
.mylist{
    display:flex;
    gap: 5px;
    transform: translateX(-30px);
    margin-top: 10px;
    
}
.mylist li a {
    color: #000;
}

.logo_name{
    color: rgba(5, 4, 4, 0.63);
    font-size: 19px;
    font-family: Arial;
    margin-left: -1rem;
}
.menu ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 13%;
    width: 100%;
    position: fixed; 
    background-color: beige;
}

ul li{
    
    list-style: none;
    font-size: 14px; 
    

}

.headBar{
    height: 40px;
    width: 1232px;
}
.menu{

    width: 80%;
    float: left;
    height: 40px;
    background-color: F9EED9;
    justify-content: left;
    cursor: pointer;
    transition: 0.8s;
}
/* .whilehovering li a{
    color: rgb(8, 5, 5);
    text-decoration: none;
} */
.whilehovering{
    display: none;
}

.search{
    height: 36vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;                                          /*space between the all childes*/
    position: relative;
    right: 0px;
}
.search .input_search{
    width: 40%;
    height: 10%;
    border: 20px;
    padding: 10px;
    background-color: rgba(245, 247, 248, 0.708);
}
.search .input_button{
    width: 16%;
    height: 16%;
    margin-left: 2%;
}
.search .input_button .btn{
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 220, 0.395);

}


.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: rgb(3, 2, 2);
    font-weight: bolder;
}
.cadre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service_cards1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:1px solid; */
    /* border-color: transparent; */
    border-radius: 20px;
    margin: 20px;   
    /* box-shadow: 2px 5px 12px 4px; */
}
.service_cards1 img{
    border-radius: 20px;
    box-shadow: 2px 5px 12px 4px;
}
.example{
    height: 200px;
    width: 149px;
    background-color: rgb(30, 39, 159);
    position: absolute;
    left: 80px;
}
.hous1_image{
    height: 20%;
    position: absolute;
    right: 80ex;
    top: 60px;
}
footer {
    justify-content: center;
    padding-top:90px;
    background-color: rgb(250, 251, 252);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.service_card{
    background:#a2aab3fb ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid;
    border-color: transparent;
    border-radius: 20px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:40px;
    opacity: 0.9;
    border: 1px solid black;
    height: 150px;
    width: 190px;
    justify-content: center;
}

.picture{
    display: flex;
    flex-direction: column;
    margin-top: 24%;
}
.second-pic{
    text-align: right;
    display: flex;
    justify-content: space-around;
    
}
.pic1{
    width:518px;
    margin-left: 26px;
    box-shadow: 2px 5PX 12PX 4PX;
    border-radius: 12px;
}
.pic2{
    border-radius: 12px;
    box-shadow: 2px 5px 12px 4px;
}
.about-img img{
    border-radius: 12px;
    box-shadow: 2px 5px 12px 4px;
}
.backgr-cart{
    /* background-image:url(image/salade-back.png);
    background-repeat: no-repeat;
    background-size: contain; */
    margin-top: 13rem;
    margin-left: 22rem;
}
.pic-contact img{
    border-radius: 12px;
    box-shadow: 2px 5px 12px 4px;
}
.con-pic{
display: flex;
justify-content: space-around;
margin-top: 25%;
flex-wrap: wrap;
width: 100%;
}
.second-pic #second-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.about-pic{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 18px;
} 
.about-pic #about-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.about-pic .about-img {
    width: 50%;
    margin-top: 50px;
}
.about-pic .about-img img {
    width: 100%;
}


                        /* contact */
#contact{
    
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    
}

#contact .icon img{
    width: 70%;
    height: 70%;
    border: 1px solid;
    border-radius: 0;
    border-color: transparent;
    display: block;
    margin: auto;
}
#contact .fields{
    grid-column: 1;
    margin-left: 20px;
    flex-wrap: wrap;
}
#contact .fields .othman{
    flex-wrap: wrap;
}
#contact .icon{
    grid-column: 2;
}
#contact .fields #par{
    color: rgb(0, 0, 0);
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
#contact .fields .form {
    margin-bottom: 25px;
}
#contact .fields .form label{
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

#contact .fields .form input{
    width: 70%;
    height: 30px;
    border-color: #111D2C;
    border-radius:8px;
    border-width: 2px;
}

#contact .fields .form textarea{
    width: 70%;
    border-color: #111D2C;
    border-radius:8px;
    border-width: 2px;
}
#contact .fields .form button{
    cursor: pointer;
    background-color: #111D2C;
    border:solid 0.5px #111D2C;
    border-radius:8px;
    color:white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 70%;
}
#contact .fields .form button:hover{
    cursor: pointer;
    background-color:#3883BC ;
}
div.contact-title{
    padding-right: 0%;
}
section .order-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -7rem;
}

select{
    background-color: beige;
    font-size: 23px;
    height: 30px;
    margin-top: 27px;
    margin-left: 52px;
    margin-right: auto;

}

/* order list */
.wrapper {
    max-width: 700px;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 1px 5px 15px black;
  }
  .wrapper  div{
    width:200px;
    height: 300px;
    border: 1px solid #f0f0f0;
    padding:5px;
    margin: 5px;
  }
  
  .wrapper > div > img {
    width: 100%;
  }
  .wrapper .pics3{
    display: flex;
    flex-direction: row;
  }
  .wrapper button{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .ca:hover{
    padding: 10px;
    border: 1px solid ;
    transition: .45;
}

/* hidden menu */
.caa{
    display: block;
}
.c{
    display: block;
}
.active{
    /* display: none; */
    background-color: #0a0505;
}
.chop-bage{
    padding: 10px;
    background-color:rgba(136, 132, 195, 0.402);
    border-radius: 32%;
    cursor: pointer;
    
}
.cart-box{
    /* display: grid; */
   /* grid-template-columns: 32% 50% 18%; */
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 5rem;
}
.total{
    margin-left: 5rem;
}
.cart-img{
    width: 200px;
    height: 200px;
}
.cart-remove{
    cursor: pointer;
}
.total{
    display: flex;
    margin-top: 1rem;
    gap: 3px;
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.btn-buy{
    display: flex;
    margin-right: 1rem;
    margin-top: 2rem;
    padding: 12px 20px;
    border: none;
    background-color: beige;
    color: var (--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
      I

  /* order list */
  .order ul .order-listt{
    border: 1px solid #0a0505;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-menu .order{
    width: 490px;
    height: 650px;
    /* border: 3px solid; */
    /* box-shadow: #000 1px 1px; */
    box-shadow: -1px 0px 15px black;
    border-radius: 5px;
    overflow: scroll;
    margin-top: 3.5rem;
    /* position: fixed; */
  }
  /* #categories-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  .order ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
  }

  .order ul li{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
  }
  .res{
    width:100% ;
    display: flex;
    margin-top: 10%;
    justify-content: center;
  }
  .res1{
    width:100% ;
    display: flex;
    margin-top: 10%;
    justify-content: center;
  }
  .logo_name{
    transform: translateX(-3%);
    margin-top: 14px;
  }

  .mobil-button {
    display: none;
  }

  .menu .logo-menu {
    display: flex;
    gap: 20px;

}
.disabled_list{
    display: none;
}
select #categories-list{
margin-top: ;
}